@import "../libs/reset.css"
// *
//   outline 1px solid black

img
  display block
  width 100%
  height auto

.Recommend
  color #373737
  background-color #EAE9E4

  &__title
    padding 50px 0 30px
    text-align center
    font-family 'Montserrat', sans-serif
    letter-spacing 1px

    &__main
      font-size 30px
      font-weight bold

    &__sub
      font-size 15px

  &__list
    overflow hidden
    width 1000px
    margin 0 auto
    padding-top 30px
    border-top 1px solid #FFFFFF

  &__item
    float left
    width 180px
    margin 0 25px 50px 0

    &:nth-child(5n)
      margin-right 0

  &__photo
    position relative

    &__icon
      position absolute
      top -3px
      right -3px
      width 33px

  &__text

    &__info
      position relative
      margin 15px 0
      font-family 'Montserrat', sans-serif
      font-size 12px

    &__ctg
      display inline
      color #C61E23
      border-bottom 1px solid #C61E23

    &__pr
      display inline
      position absolute
      right 0
      padding 0 2px
      color #FFFFFF
      background-color #848484

    &__ttl
      font-size 18px
      font-weight bold
      line-height 1.5

    &__sub
      font-size 13px
      font-weight normal
      color #848484



@media screen and (max-width: 767px)

  mn=(100vw / 750)

  .Recommend

    &__title
      padding (70 * mn) 0 (50 * mn)

      &__main
        font-size (40 * mn)

      &__sub
        font-size (20 * mn)

    &__list
      width (700 * mn)
      padding-top (50 * mn)
      border-top 1px solid #FFFFFF

    &__item
      float left
      width (330 * mn)
      margin 0 (40 * mn) (50 * mn) 0

      &:nth-child(2n)
        margin-right 0

      &:nth-child(5n)
        margin-right (40 * mn)

    &__photo

      &__icon
        top (-4 * mn)
        right (-4 * mn)
        width (44 * mn)

    &__text

      &__info
        margin (20 * mn) 0
        font-size (20 * mn)

      &__ttl
        font-size (33 * mn)

      &__sub
        font-size (25 * mn)










// @display
// html
  // &:before
  //   content ""
  //   position fixed
  //   border 10px solid orange
  //   top 0
  //   left 0
  //   right 0
  //   bottom 0

// .Header
// .Footer
//   width 1000px
//   margin 0 auto
//
//
//
// .Header
//   background white
//
//   &__title
//     text-align center
//     font-family 'Play', sans-serif
//     font-size 45px
//     padding 20px
//
//
//
// .Mainnav
//
//   &__list
//     list-style-type none
//     display flex
//     justify-content space-around
//
//     &__item
//
//       &__link
//          // text-decoration none
//          // color black
//          display block
//          background yellow
//          padding 80px
//
//          &:hover
//           opacity 0.5
//
//
//
// .Footer
//
//   &__copyright
//     text-align center
