extends /layout/andM_responsive_layout

block deta
  
block css
  link(href=CSS_DIR + "andM_responsive.css" rel="stylesheet" type="text/css")
  .
    <link href="https://fonts.googleapis.com/css?family=Montserrat:700" rel="stylesheet">

  
block content
  
  section.Recommend
    
    .Recommend__title
      h3.Recommend__title__main RECOMMEND
      p.Recommend__title__sub 編集部イチオシ  
    
    ul.Recommend__list
      
      each val, i in recommendlist
        li.Recommend__item
          
          .Recommend__photo
            img(src='/images/photo'+(i+1)+'.jpg')
            -if(val.new)
              .Recommend__photo__icon
                img(src='/images/new.svg')
                  
          .Recommend__text
            .Recommend__text__info
              p.Recommend__text__ctg= val.top__text__left
              - if(val.pr)
                p.Recommend__text__pr PR
            p.Recommend__text__ttl= val.text__main
              br
              span.Recommend__text__sub= val.text__bottom

  
block script
  
