extends /layout/layout
block css
  link(href=CSS_DIR + "style.css" rel="stylesheet" type="text/css")
  .
    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Play:700" rel="stylesheet">  
block data

block content
  

  
