-
  var recommendlist = [
    {
      new : true,
      top__text__left : "INTEREST",
      pr : true,
      text__main : "ＰＣが消える未来がくる？／アップルのスピーカーの可能性",
      text__bottom : "キャンピングカーで行こう！"
    },
    {
      new : true,
      top__text__left : "LIVING",
      pr : true,
      text__main : "ＰＣが消える未来がくる？／アップルのスピーカーの可能性",
      text__bottom : "キャンピングカーで行こう！"
    },
    {
      new : false,
      top__text__left : "FASHION",
      pr : true,
      text__main : "ＰＣが消える未来がくる？／アップルのスピーカーの可能性",
      text__bottom : "キャンピングカーで行こう！"
    },
    {
      new : false,
      top__text__left : "INFO",
      pr : false,
      text__main : "ＰＣが消える未来がくる？／アップルのスピーカーの可能性",
      text__bottom : "キャンピングカーで行こう！"
    },
    {
      new : false,
      top__text__left : "FASHION",
      pr : false,
      text__main : "ＰＣが消える未来がくる？／アップルのスピーカーの可能性",
      text__bottom : "キャンピングカーで行こう！"
    },
    {
      new : false,
      top__text__left : "INFO",
      pr : false,
      text__main : "ＰＣが消える未来がくる？／アップルのスピーカーの可能性",
      text__bottom : "キャンピングカーで行こう！"
    },
    {
      new : false,
      top__text__left : "INFO",
      pr : false,
      text__main : "ＰＣが消える未来がくる？／アップルのスピーカーの可能性",
      text__bottom : "キャンピングカーで行こう！"
    },
    {
      new : false,
      top__text__left : "INFO",
      pr : false,
      text__main : "ＰＣが消える未来がくる？／アップルのスピーカーの可能性",
      text__bottom : "キャンピングカーで行こう！"
    }
  ]

html(lang='ja')
  head
    include /layout/head
    block css
    block deta
    
  body
    block content
    //- include /modules/footer
    block script
