include /data/common
include /mixin/mixin
block data

html(lang='ja')
  head
    include /layout/head

  body
    include /modules/header
    block content
    include /modules/footer
    
  //- JavaScript
  script(src=JS_DIR + 'libs.js' type='text/javascript' charset='UTF-8')
  block script
